*.o
*.d
*.a
cscope*
experiments/exp-cmp-swap
experiments/exp-distinct
experiments/exp-equality
experiments/exp-exchange
experiments/exp-greater
experiments/exp-group-by
experiments/exp-join
experiments/exp-order-by
experiments/exp-q1
experiments/exp-q2
experiments/exp-q3
experiments/exp-qcredit
experiments/exp-qcredit-baseline
experiments/exp-qpwd
experiments/exp-qpwd-baseline
experiments/exp-rca
experiments/exp-reveal
experiments/exp-semi-join
experiments/exp-tpch-q13
experiments/exp-tpch-q13-baseline
experiments/exp-tpch-q4
experiments/exp-tpch-q4-baseline
tests/test-ageq
tests/test-and-all
tests/test-arithmetic-to-binary
tests/test-conversion
tests/test-distinct
tests/test-equality
tests/test-group
tests/test-group-join
tests/test-group-min-max
tests/test-in
tests/test-inequality
tests/test-join
tests/test-mask
tests/test-primitives
tests/test-q1
tests/test-q2
tests/test-q3
tests/test-qcredit
tests/test-qcredit-baseline
tests/test-qpwd
tests/test-qpwd-baseline
tests/test-rca
tests/test-relational
tests/test-rsz
tests/test-select
tests/test-share
tests/test-sort
tests/test-tpch-q13
tests/test-tpch-q13-baseline
tests/test-tpch-q4
tests/test-tpch-q4-baseline
